{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div{{ attributes.addClass('clear-both') }}>
  {% for item in content %}
    <address class="address plain h-card hcard vcard" translate="no">
      <div class="address-item hide p-name fn" style="display: none;">
        {{ item.organization }} {{ item.given_name }} {{ item.family_name }}
      </div>

      {% if item.organization %}
        <span
          class="address-item p-org org"
          data-label="{{ 'Company'|t }}">
          {{ item.organization }}
        </span>
      {% endif %}

      {% if item.given_name and item.family_name %}
        <span class="n">
          {% if item.given_name %}
            <span
              class="address-item p-given-name given-name"
              data-label="{{ 'First name'|t }}">
              {{ item.given_name }}
            </span>
          {% endif %}
          {% if item.family_name %}
            <span
              class="address-item p-family-name family-name"
              data-label="{{ 'Last name'|t }}">
              {{ item.family_name }}
            </span>
          {% endif %}
        </span>
      {% endif %}

      <span class="p-adr h-adr adr">
        {% if item.country.name %}
          <span
            class="address-item p-country-name country-name"
            data-label="{{ 'Country'|t }}">
            {{ item.country.name }}
          </span>
        {% endif %}

        {% if item.locality %}
          <span
            class="address-item p-locality locality"
            data-label="{{ 'City'|t }}">
            {{ item.locality.code ? item.locality.code : item.locality }}
          </span>
        {% endif %}

        {% if item.dependent_locality.code %}
          <span
            class="address-item p-locality locality"
            data-label="{{ 'Dependent locality'|t }}">
            {{ item.dependent_locality.code }}
          </span>
        {% endif %}

        {% if item.administrative_area %}
          <span
            class="address-item p-region region"
            data-label="{{ 'State or Province'|t }}">
            {{ item.administrative_area }}
          </span>
        {% endif %}

        {% if item.postal_code %}
          <span
            class="address-item p-postal-code postal-code"
            data-label="{{ 'Postal zip'|t }}">
            {{ item.postal_code }}
          </span>
        {% endif %}

        {% if item.address_line1 %}
          <span
            class="address-item p-street-address street-address"
            data-label="{{ 'Street'|t }}">
            {{ item.address_line1 }}
          </span>
        {% endif %}

        {% if item.address_line2|field_value %}
          <span
            class="address-item p-extended-address extended-address"
            data-label="{{ 'Street'|t }}">
            {{ item.address_line2 }}
          </span>
        {% endif %}
      </span>

      {% if item.phone %}
        {% for value in item.phone %}
          <span
            class="address-item p-tel tel"
            data-label="{{ 'Phone'|t }}">
            <span class="type hide">{{ 'Phone'|t }}</span>
            {{ value }}
          </span>
        {% endfor %}
      {% endif %}

      {% if item.fax %}
        {% for value in item.fax %}
          <span
            class="address-item p-tel tel"
            data-label="{{ 'Fax'|t }}">
            <span class="type hide">{{ 'Fax'|t }}</span>
            {{ value }}
          </span>
        {% endfor %}
      {% endif %}

      {% if item.mail %}
        {% for value in item.mail %}
          <a
            href="mailto:{{ value }}"
            class="address-item u-email email"
            data-label="{{ 'E-Mail'|t }}">
            {{ value }}
          </a>
        {% endfor %}
      {% endif %}
    </address>
  {% endfor %}
</div>
